<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <nav>
      <h2><a href="/">PanSonDeMorelos</a></h2>
      {{#if user}}
      <div class="username-and-image">
         {{#if user.profileImageUrl}}
         <img src="{{user.profileImageUrl}}" alt="" class="user-image">
         <p><b>Welcome {{user.username}}</b></p>
         {{else}}
         <p><b>Welcome {{user.username}}</b></p>
         {{/if}}
      </div>
      <ul class="userOn">
         <li><a href="/" class="effect"><span>Main page</span></a></li>
         <li><a href="/my-profile" class="effect"><span>My profile</span></a></li>
         <li><a href="/create-post" class="effect"><span>Add a pan</span></a></li>
         <li><a href="/logout" class="effect"><span>Logout</span></a></li>
      </ul> 
      {{else}}
      <ul class="userOff">
         <li><a href="/signup" class="effect"><span>Signup</span></a></li>
         <li><a href="/login" class="effect"><span>Login</span></a></li>
      </ul>
      {{/if}}
   </nav>

   <body>

      <div class="main-container">
         {{{body}}}
      </div>

      <footer>
         <h4>Follow us in Instagram: </h4>
      </footer>
      <script src="/js/script.js"></script>
   </body>

</html>