<div class="signup-form">
<h2>Here you can edit yor profile</h2>

<form action="/my-profile/edit-profile" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Your name</label>
  <input id="username" type="text" name="username" value='{{{user.username}}}' required>

  <br><br>

  <label for="cities-input">Select the city or cities where people can find you
    <select name="citiesWhereFound" multiple>
      {{#each user.citiesWhereFound}}
      <option value="{{this}}" selected>{{this}}</option>
      {{/each}}
      {{#each allCities}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>


  <br><br>

  <label> Description: </label>
  <textarea type="text" name="description" cols="40" rows="8">{{user.description}}</textarea>

  <br><br>

  <label for="image-input">Image:</label>
        <input type="file" name="newProfileImageUrl" id="image-input" class="form-control-file" />
        <input type="hidden" name="existingImage" id=""  value="{{user.profileImageUrl}}"/>

  <br><br>

  <label for="">Enter the longitude and latitude of the main bakery</label>
    <input type="text" name="longitude" id="" placeholder="Here goes Longitude. Example: -99.222508" value="{{user.location.coordinates.[0]}}">
    <input type="text" name="latitude" placeholder="Here goes Latitude. Example: 18.964059" value="{{user.location.coordinates.[1]}}">

  <br><br>

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <br><br>

  <button>Update account</button>
</form>
</div>
