{{#with userInfo}}
<div class="title-info">
    <h2 id="bakeryId" data-id="{{_id}}" class="title">{{username}}</h2>
    <p class="see-profile-info"><i>"{{description}}"</i></p>
</div>
<div class="visit-profile">
    <div class="caption-style-4">
        <img src="{{profileImageUrl}}" alt="">
        <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
                <h3>Cities where you can find us</h3>
                <p>{{citiesWhereFound}}</p>
            </div>
        </div>
    </div>
    <div>
        {{#each panes}}
        <div class="each-panes">
            <h3>{{name}}</h3>
            <div>
                <img src="{{imageUrl}}" alt="">
                <p><i>{{description}}</i></p>
            </div>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if reviews}}
        {{#each reviews}}
        <div class="review-box">
            <p>{{owner.username}} says: </p>
            <p>{{comment}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>No comments yet</p>
        <p>Make a comment of this place:</p>
        {{/if}}
        <form action="/comment-panaderia" method="post">
            <textarea name="comment" rows="3"></textarea>
            <input type="hidden" name="id" id="" value="{{_id}}">
            <input type="hidden" name="username" id="" value="{{{username}}}">
            <button type="submit">Create Review</button>
        </form>
    </div>
</div>
{{#if location.coordinates}}
<div id="mymap"></div>
{{/if}}
{{/with}}
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

<!--  Axios CDN  -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  Google Maps Key  -->
<script async src="https://maps.googleapis.com/maps/api/js?key={{googleMaps}}&v=weekly">
</script>
<!--  Connect main.js  -->
<script type="text/javascript" src="/js/addMap.js"></script>